<div class="container" style="max-width: 80%">
   <h1>Categorias de produto</h1>

   <form class="mb-3 mx-auto">
        <div>
            <label for="nome" class="form-label">Nome</label>
            <textarea class="form-control" id="exampleTextarea" name="nome" rows="1"></textarea>
        </div> 

        <div>
            <label for="descricao" class="form-label">Descrição</label>
            <textarea class="form-control" id="exampleTextarea" name="descricao" rows="3"></textarea>
        </div>
    </form>
</div>