<div class="container" style="max-width: 80%">
   <h1>Adicionar Categoria</h1>

   <form action="/categoria/add" method="POST" class="mb-3 mx-auto">
        <div>
            <label for="nome" class="form-label">Nome</label>
            <textarea class="form-control" id="exampleTextarea" name="nome" rows="1"></textarea>
        </div> 

        <div>
            <label for="descricao" class="form-label">Descrição</label>
            <textarea class="form-control" id="exampleTextarea" name="descricao" rows="3"></textarea>
        </div>

        <div>
            <label for="categoria" class="form-label">Categorias Disponíveis</label>
            {{#if categorias.length}}
                {{#each categorias}}
                    <div>
                        <p>Categoria: {{this.nome}} Descrição: {{this.descricao}}</p>
                    </div>
                {{/each}}
            {{else}}
                <p>Sem categorias disponíveis no momento.</p>
            {{/if}}
        </div>

        </fieldset>
        <button type="submit" class="btn btn-primary">Adicionar</button>
        </fieldset>
    </form>
</div>


