<h1>Dados dos clientes</h1>

{{#if clientes.length}}
    {{#each clientes}}
        <div>
            <table class="table table-hover">
            <thead>
                <tr>
                <th scope="col">Nome</th>
                <th scope="col">Email</th>
                <th scope="col">Endereço</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <tr class="table-active">
                <th scope="row">Active</th>
                <td>{{this.nome}}</td>
                <td>{{this.email}}</td>
                <td>{{this.endereco}}</td>
                </tr>
            </tbody>
            </table>
        </div>
    {{/each}}
{{else}}
    <p>Sem dados de clientes disponíveis no momento.</p>
{{/if}}

<button type="button" class="btn btn-primary"><a href="/">Início</a></button>