

{{#if produtos.length}}
    {{#each produtos}}
        <div>
            <a href="/produtos/{{this.id}}/detalhes">
                <h2>{{this.nome}}</h2>
            </a>
        </div>
    {{/each}}
{{else}}
    <p>Sem produtos disponíveis no momento.</p>
{{/if}}