<h1>Detalhes do produto</h1>
<div>
    <p>{{produto.nome}}</p>
    <p>Descrição: {{produto.descricao}}</p>
    <p>Preço: R$ {{produto.preco}}</p>
    <p>Estoque: {{produto.estoque}} </p>

    <button type="button" class="btn btn-primary">
        <a href="/produtos/add">Adicionar produto</a>
    </button>

    <button type="button" class="btn btn-danger">
        <a>Excluir</a>
    </button>
</div>